interfaces {
{% for item in interfaces_ebgp %}
    delete: {{ item.name }};
    {{ item.name }} {
        description "{{ item.description | default('none') }}";
        unit 0 {
            family inet {
                address {{ item.address | default('255.255.0.1/32') }} ;
            }
        }
    }
{% endfor %}
}
protocols {
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
}

